[submodule "MiB_api-gateway"]
	path = MiB_api-gateway
	url = https://github.com/Spartan-F117/MiB_api-gateway
[submodule "MiB_UserMicroservice"]
	path = MiB_UserMicroservice
	url = https://github.com/Spartan-F117/MiB_UserMicroservice
[submodule "MiB-MessageMicroservice"]
	path = MiB-MessageMicroservice
	url = https://github.com/Spartan-F117/MiB-MessageMicroservice
[submodule "MiB_LotteryMicroservice"]
	path = MiB_LotteryMicroservice
	url = https://github.com/Spartan-F117/MiB_LotteryMicroservice
