#
# University of Pisa - Advanced Software Engineering - 2021-2022
# Main docker-compose File
# Project:
#┌─────────────────────────────────────────────────────────────────────────────────────────┐ 
#│  __  __                                  _                 ____        _   _   _        │ 
#│ |  \/  | ___  ___ ___  __ _  __ _  ___  (_)_ __     __ _  | __ )  ___ | |_| |_| | ___   │
#│ | |\/| |/ _ \/ __/ __|/ _` |/ _` |/ _ \ | | '_ \   / _` | |  _ \ / _ \| __| __| |/ _ \  │
#│ | |  | |  __/\__ \__ \ (_| | (_| |  __/ | | | | | | (_| | | |_) | (_) | |_| |_| |  __/  │ 
#│ |_|  |_|\___||___/___/\__,_|\__, |\___| |_|_| |_|  \__,_| |____/ \___/ \__|\__|_|\___|  │ 
#│                              |___/                                                      │ 
#└─────────────────────────────────────────────────────────────────────────────────────────┘

version: '3.8'

services:
  
  # -------------------------------------------- #
  # Starting with API Gateway and Load Balancer  #
  # -------------------------------------------- #
 
  nginx_lb_orchestrator:
    #
    # Nginx Orchestrator instance
    #
    container_name: load_balancer_orchestrator
    restart: always
    build: ./MiB_api-gateway/nginx-orchestrator
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # WARNING: with Winzozz it does not work, but we need it!
      - nginx_conf:/etc/nginx/conf.d

  nginx_lb:
    #
    # Nginx single instance
    #
    container_name: load_balancer
    restart: always
    build: ./MiB_api-gateway/nginx
    labels:
      - mib.nginx_lb
    volumes:
      - nginx_conf:/etc/nginx/conf.d
      - static_contents:/static
    ports:
      - "80:80"

  api_gateway:
    #
    # API Gateway
    #
    # ! ! ! WARNING ! ! !
    # DO NOT set the container_name attribute and ports mapping
    # to allow the replication.
    #
    restart: always
    build: ./MiB_api-gateway
    #volumes:
    #  - .:/app
    env_file:
      - gateway.conf
    environment:
      - USERS_MS_HOST=users_ms_worker
      - MESSAGE_MS_HOST=message_ms_worker
      - LOTTERY_MS_HOST=lottery_ms_worker
    labels:
      - mib.api_gateway_worker

  # -------------------------------------------- #
  # Common Services                              #
  # -------------------------------------------- #
  #
  # specify here the common services between your
  # microservices
  #
  # -------------------------------------------- #
  # Users Microservice                           #
  # -------------------------------------------- #
  users_ms_db:
    #
    # Users Microservice Database
    #
    image: library/postgres:10
    restart: on-failure
    env_file:
      - users_ms.conf
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 10s
      timeout: 5s
      retries: 5

  users_ms_migrations:
    #
    # Users Microservice Migrations
    #
    build: ./MiB_UserMicroservice
    env_file:
      - users_ms.conf
    environment:
      - POSTGRES_HOST=users_ms_db
    restart: on-failure
    command: flask db upgrade
    depends_on:
      users_ms_db:
        condition: service_healthy

  users_ms_worker:
    #
    # Users Microservice Worker node
    #
    build: ./MiB_UserMicroservice
    #volumes:
    #  - .:/app
    restart: on-failure
    env_file:
      - users_ms.conf
    environment:
      - POSTGRES_HOST=users_ms_db
    depends_on:
      users_ms_db:
        condition: service_healthy
      users_ms_migrations:
        condition: service_started
  
  #
  # Specify here your microservices
  # separating services by: db_service, migration_service, worker_service
  #
  # -------------------------------------------- #
  # Lottery Microservice                         #
  # -------------------------------------------- #
  lottery_ms_db:
    #
    # Lottery Microservice Database
    #
    image: library/postgres:10
    restart: on-failure
    env_file:
      - lottery_ms.conf
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 10s
      timeout: 5s
      retries: 5

  lottery_ms_migrations:
    #
    # Lottery Microservice Migrations
    #
    build: ./MiB_LotteryMicroservice
    env_file:
      - lottery_ms.conf
    environment:
      - POSTGRES_HOST=lottery_ms_db
    restart: on-failure
    command: flask db upgrade
    depends_on:
      lottery_ms_db:
        condition: service_healthy

  lottery_ms_worker:
    #
    # Lottery Microservice Worker node
    #
    build: ./MiB_LotteryMicroservice
    restart: on-failure
    env_file:
      - lottery_ms.conf
    environment:
      - POSTGRES_HOST=lottery_ms_db
    depends_on:
      lottery_ms_db:
        condition: service_healthy
      lottery_ms_migrations:
        condition: service_started

  # -------------------------------------------- #
  # Message Microservice                         #
  # -------------------------------------------- #
  message_ms_db:
    #
    # Message Microservice Database
    #
    image: library/postgres:10
    restart: on-failure
    env_file:
      - message_ms.conf
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 10s
      timeout: 5s
      retries: 5

  message_ms_migrations:
    #
    # Message Microservice Migrations
    #
    build: ./MiB-MessageMicroservice
    env_file:
      - message_ms.conf
    environment:
      - POSTGRES_HOST=message_ms_db
    restart: on-failure
    command: flask db upgrade
    depends_on:
      message_ms_db:
        condition: service_healthy

  message_ms_worker:
    #
    # Message Microservice Worker node
    #
    build: ./MiB-MessageMicroservice
    restart: on-failure
    env_file:
      - message_ms.conf
    environment:
      - POSTGRES_HOST=message_ms_db
    depends_on:
      message_ms_db:
        condition: service_healthy
      message_ms_migrations:
        condition: service_started

volumes:
  # -------------------------------------------- #
  # Volumes                                      #
  # -------------------------------------------- #

  nginx_conf:
  # Nginx configuration volume

  static_contents:
  # API Gateway static content volume
